li(ng-class="getClass('/katalog')")
  a(href="#", pdf)

li.dropdown
  a.dropdown-toggle(href="#", data-toggle="dropdown") Dodaj stronę
    span.caret
  ul.dropdown-menu
    li
      addpage

//- div.newPage.btn.btn-lg
//-   span.glyphicon.glyphicon-plus-sign Dodaj nową stronę
//-   input.newPage-input(type="file")


//- li
//-   span.btn-group.btn-group-sm
//-     button.btn.btn-default(title="Małe kafelki", ng-click="changeTileSize('m-smallTiles')", ng-class="{active: tileSize == 'm-smallTiles'}")
//-       span.glyphicon.glyphicon-th
//-     button.btn.btn-default(title="Duże kafelki", ng-click="changeTileSize('m-largeTiles')", , ng-class="{active: tileSize == 'm-largeTiles'}")
//-       span.glyphicon.glyphicon-th-large
