ul.navbar-nav
  height 80px
  line-height 80px
  float right

  li
    float right
    // line-height 80px
    // height 80px

    a
    button
      height 80px
      line-height 80px
      padding 0 2em    

      &.btn
        height 34px
        vertical-align middle
        line-height 24px
        display inline-block
        float initial
  .logo
    display inline-block

  .nav
    display inline-block