
ul.pages-list

  li.single-page
    display inline-block
    position relative
    padding 10px
    padding-bottom 10px
    background-color #f2f2f2
    margin-right 20px
    margin-bottom 20px
    border-radius 4px
    vertical-align top
    font-size 14px

    &.drop-hover
      background-color #ccc
    
    div.spinner
      display block
      position absolute
      top 0px
      right 0px
      bottom 0px
      left 0px
      background-color rgb(0,0,0)
      background-color rgba(0,0,0,0.3)
    
      .glyphicon
        top 100px
        left 70px
        font-size 60px
        color #fff


    span.name
      display block
      width 170px
      line-height 2em
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

    a.img
      display block
      // width 176px
      // height 249px
      background-color #fff
      
      &.disable
        opacity 0.35

      img
        width 176px

    span.page-number
      display block
      text-align center
      font-size 0.8em

    .controls
      display none
      position absolute
      top 0px
      right 0px
      color #fff
      text-align center



      // a.delete:hover
      //   text-decoration none
      //   background-color red
    
    &:hover
      .controls
        display block

  &.m-smallTiles
    li.single-page
      font-size 10px
      margin-bottom 10px
      margin-right 10px
      padding-bottom 5px
      a.img
        img
          width 100px
      span.name
        width 100px

      div.spinner
        .glyphicon
          top 70px
          left 40px
          font-size 40px


addpage
  input
    width 95px